[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "caMST"]
	path = caMST
	url = https://github.com/anthonyraborn/camst
	shallow = true
	registered = true
[submodule "ShortForm"]
	path = ShortForm
	url = https://github.com/anthonyraborn/shortform
	shallow = true
	registered = true
